.navbar{
    h1{
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        text-align: center;
    }
}

.type{
    border-radius: 5px;
    width: 4.5rem;
    height: 2rem;
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.types-container{
    display: flex;
    gap: 0.5rem;
}

.card{
    .card-header{
        justify-content: space-between;
        padding: 0.5rem;
        .title{
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .card-image{
        margin: 2rem 0rem;
        text-align: center;
        img{
            height: 10rem;
            width: 10rem;
            object-fit: scale-down;
        }
    }
}

.list{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}

.footer{
    text-align: center;
}